<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    html,
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}
.container {
  min-height: 120vh;
  padding-bottom: 50px;
  margin: 0 auto;
  position: relative;
}
.bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(45%);
  background-image: url("https://2.bp.blogspot.com/-yN1IX4k-J1g/XxUq2iR6JuI/AAAAAAAAKrM/5l2KTCqYLTs0iSJsQ7O9UTBCYcJMatkFQCLcBGAsYHQ/s1600/HM_HB5_182_183_PHUI%2BJING%2BLING.png");
  background-size: cover;
  background-position: center;
}
.navBar {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 10vh;
}
.navBar ul {
  display: flex;
  align-items: center;
}
.navBar ul li {
  padding: 0 120px;
}
.navBar ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 1000;
  letter-spacing: 5px;
}
.navBar .logo a {
  font-size: 1rem;
  color: #fff;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.name {
  color: #fff;
  padding: 250px;
}
.card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.card h2 {
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 130px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.card .box1
 {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.box1 {
  background-image: url("https://scontent.fhdy1-1.fna.fbcdn.net/v/t39.30808-6/185448684_1362351000832733_552212973963361353_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE8aBm3wJvFXTlF3LwhalmC2WrZ3_wXIubZatnf_Bci5m8vQ3hG70OqdHx6CAucEThUf-HzUwaWQAWJQLmJFR7x&_nc_ohc=R61OUX-AEc4AX8IYu0w&_nc_ht=scontent.fhdy1-1.fna&oh=00_AfAa3Sa5_e5mB20lwtdm8lz5VK_fhVxDo-f_PP5n_mftXg&oe=63ECDBD5");
}
.name h2 {
  font-size: 2rem;
  letter-spacing: 2.8px;
}
.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.txt h1 {
  font-size: 5rem;
}
.name p {
  opacity: 0.4;
}
.tnx h2 i {
  color: #fd7e13;
}
.card div {
  transition: 0.5s;
}
.card div:hover {
  transition: 0.3s;
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
</style>
<div class="container bg">
  <div class="navBar">
    <div class="logo">
      <a href="#">   
      </a>
      <div class="content">
        <div class="name" style="width:50%;">
          <div class="tnx">
            <div class="txt">
              <h1>Thanachot</h1>
              <h1>Poomnuek</h1>
            </div>
          </div>
        </div>
        <div class="card" style="width:50%;">
          <a href="https://www.facebook.com/profile.php?id=100011735397811" target="_blank">
            <div class="box1">
              <h2>sunday</h2>
            </div>
          </a>
        </div>
    </div>
    <ul>
      <li><a href="http://127.0.0.1:5000">Home</a></li>
      <li><a href="{{ url_for('accounts.login') }}">Login</a></li>
      <li><a href="{{ url_for('accounts.register') }}">Register</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100011735397811">Contact</a></li>
    </ul>
  </div>
  </div>
</div>